{:kotoba.app/id "cloud.itonami.isic-2910", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicgcii6lyhntbtqux3flpxl2pxgoopvbexvcp2b2sif2x4pwdjsby", :kotoba.app/embed-url "ipfs://bafkreicgcii6lyhntbtqux3flpxl2pxgoopvbexvcp2b2sif2x4pwdjsby", :published {:archive "https://kotobase.net/ipfs/bafkreicgcii6lyhntbtqux3flpxl2pxgoopvbexvcp2b2sif2x4pwdjsby", :size 72421, :put-status 201, :get-status 200, :at "2026-08-15T13:36:15.518Z"}}
